---

---

<header>
  <h2><a href="/"> blog.m1sk9.dev </a></h2>
</header>

<style>
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid white;
  }

  h2 a {
    color: white;
    text-decoration: none;
  }
</style>
